.container {
    position: relative;
    padding: 2px;
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-left: 5px solid var(--color-trenner);
    border-radius: 2px;

    content-setting {
        opacity: 0;
    }
}

.container:focus-within {
    border: 1px solid rgba(0, 0, 0, .5);
    border-left: 5px solid var(--color-dunkel);
    background-color: rgb(235, 232, 227);
    z-index:100;

    content-setting {
        opacity: 1
    }
}

.container .text {
    position: relative;
    margin: 5px;
    margin-left: 10px;
    margin-right: 150px;
}

.container .text:focus {
    outline: none;

}

content-setting {
    position: absolute;
    right: -1px;
    top: -1px;
    opacity: 0;
    width: 150px;
    transition: all 500ms ease;
}

.container:focus-within content-setting {
    opacity: 1;

}